@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Chalet';
  src: local('Chalet'),
    url('./fonts/ChaletLondonNineteenSixty.ttf') format('truetype');
}

@layer components {
  .rotate-left {
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%);
    margin-top: -50%;
  }
  .rotation-wrapper-inner {
    padding: 50% 0;
    height: 0;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
